body {
    background-color: #271c19;

}

h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
}

p {
    color: #fff3ec;
}
main {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
nav {
    display : flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #e78fb3;
    margin: 25px auto;
}

nav a {
    text-decoration: none;
    margin: 2px;
    background-color: #ffc0ad;
    color: #140d0b;
    padding: 4px 6px;
    border-radius: 2px;
}
.parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

.visual {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.card {
    border-radius: 2px;
    background-color: #55423d;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }

h3 {
    margin: 0
  }