body {
    background-color: #fffffe;
}

h1, h2, h3, h4, h5, h6 {
    color: #094067;
}

p {
    color: #a79489;
}

main {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #eaddcf;
    padding: 20px;
}

nav {
    display : flex;
    flex-flow: row wrap;
    margin: 10px auto;
}

nav a {
    border: none;
    text-decoration: none;
    margin: 5px 2px;
    background-color: #8c7851;
    color: #fffffe;
    padding: 8px 10px;
    border-radius: 2px;
}